{% extends "base.html" %}
{% block title %}Serverless{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Serverless</h1>
    <p>There are many benefits to using a serverless web app, including the following:</p>
    <ol>
        <li>Cost savings: Serverless web apps can be significantly cheaper to run than traditional web apps, since you only pay for the resources you use and there is no need to maintain or manage any servers.</li>
        <li>Scalability: Serverless web apps can scale automatically and instantly to meet demand, without the need to provision or manage any servers.</li>
        <li>Flexibility: Serverless web apps can be easily deployed and updated, without the need to manage or update any servers.</li>
        <li>Performance: Serverless web apps can often perform better than traditional web apps, since they can take advantage of the scalable resources of the cloud.</li>
        <li>Security: Serverless web apps can be more secure than traditional web apps, since there is no need to expose any servers to the public internet.</li>
    </ol>
</div>

{% endblock %}